@charset "UTF-8";

/* Styles for Acme Lawn Care */
h1, h2 {
	text-align: center;
}

article img {
	float: left;
	margin: 5px;
}

footer {
	text-align: center;
}

section {
	display: grid;
	grid-template-rows: 100px auto auto;
	grid-template-columns: 3fr 2fr;
	column-gap: 2%;
	row-gap: 50px;
}

section h2 {
	grid-row: 1 / 1;
	grid-column: 1 / span 2;
}

#mowing {
	grid-row: 2 / 2;
	grid-column: 1 / 1;
}

#weeding {
	grid-row: 2 / 2;
	grid-column: 2 / 2;
}

#landscaping {
	grid-row: 3 / 3;
	grid-column: 1 / span 2;
	margin-bottom: 50px;
}
